<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="upmin_iso_menu"
        name="ISO"
        sequence="10"
        web_icon="upmin_iso,static/description/icon.svg" />

    <menuitem
        id="ror_menu"
        name="ROR"
        action="upmin_iso.ror_action"
        groups="group_iso_doc_controller,group_iso_staff"
        parent="upmin_iso_menu"
        sequence="10" />

    <menuitem
        id="audit_info_menu"
        name="Internal Audit"
        action="upmin_iso.audit_info_action"
        groups="group_iso_internal_auditor,group_iso_doc_controller,group_iso_staff"
        parent="upmin_iso_menu"
        sequence="20" />

    <menuitem
        id="ccar_menu"
        name="CCAR"
        action="upmin_iso.ccar_action"
        groups="group_iso_doc_controller,group_iso_internal_auditor,group_iso_staff"
        parent="upmin_iso_menu"
        sequence="30" />

    <menuitem
        id="upmin_iso.iso_clause_menu"
        name="ISO Clauses"
        action="upmin_iso.iso_clause_action"
        groups="group_iso_doc_controller,group_iso_internal_auditor,group_iso_staff"
        parent="upmin_iso_menu"
        sequence="40" />

    <menuitem
        id="configuration_menu"
        name="Configuration"
        groups="group_iso_staff"
        parent="upmin_iso_menu"
        sequence="50" />

    <menuitem
        id="office_menu"
        name="Offices"
        action="upmin_iso.office_action"
        groups="group_iso_staff"
        parent="configuration_menu"
        sequence="30" />

    <menuitem
        id="review_period_menu"
        name="Review Period"
        action="upmin_iso.review_period_action"
        groups="group_iso_staff"
        parent="configuration_menu"
        sequence="40" />

    <menuitem
        id="audit_period_menu"
        name="Audit Period"
        action="upmin_iso.audit_period_action"
        groups="group_iso_staff"
        parent="configuration_menu"
        sequence="50" />

    <menuitem
        id="directory_menu"
        name="Directory"
        groups="base.group_user"
        parent="upmin_iso_menu"
        sequence="60" />

    <menuitem
        id="internal_auditor_menu"
        name="Internal Auditors"
        action="upmin_iso.internal_auditor_action"
        groups="base.group_user"
        parent="directory_menu"
        sequence="50" />

    <menuitem
        id="document_controller_menu"
        name="Document Controllers"
        action="upmin_iso.document_controller_action"
        groups="base.group_user"
        parent="directory_menu"
        sequence="60" />

</odoo>