<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="upmin_iso_menu"
        name="ISO"
        sequence="10"
        web_icon="upmin_iso,static/description/icon.svg" />

    <menuitem
        id="office_menu"
        name="Offices"
        action="upmin_iso.office_action"
        groups="group_iso_staff"
        parent="upmin_iso_menu"
        sequence="50" />

    <menuitem
        id="ror_menu"
        name="ROR"
        action="upmin_iso.ror_action"
        groups="group_iso_doc_controller"
        parent="upmin_iso_menu"
        sequence="10" />

</odoo>