<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
        id="upmin_stock_menu"
        name="SPMO Inventory"
        sequence="10"
        groups="upmin_stock.group_spmo_stock_user"
        web_icon="upmin_stock,static/description/icon.svg" />

    <menuitem
        id="upmin_stock_report"
        name="Report"
        parent="upmin_stock_menu"
        sequence="50" />

    <menuitem
        id="configuration_menu"
        name="Configuration"
        parent="upmin_stock_menu"
        groups="upmin_stock.group_spmo_stock_custodian"
        sequence="55" />

    <menuitem
        id="logs_menu"
        name="Logs"
        parent="upmin_stock_menu"
        groups="upmin_stock.group_spmo_stock_custodian"
        sequence="60" />
</odoo>